<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../static/style.css" />
<style type="text/css">
body {
	
	background-color: red;
}

h3 {
	color: red;
}
</style>

</head>
<body>
	<h3>My name is [[${name}]]</h3>
	<div>
		<label>Image</label>
		<img src="../static/pizza.png"  alt="Pizza" style="width: 200px;height: 224px;" />
		<label>Fin</label>
	</div>
</body>
</html>